*{
  padding:0px;
  margin:0px;
}

:root {

 /* --hederfooter:#02184c;*/
  --hederfooter:linear-gradient(180deg, rgba(20,37,62,1) 0%, rgba(7,30,111,1) 100%, rgba(0,39,130,1) 100%);
}

body { background-color:#293553; }


.header {
    background: var( --hederfooter);
    padding: 0px;
    display: flex;
    justify-content: space-between;
    height: 80px;
    flex-direction: row;
    align-items: center;
}
.navbar{

}
.link{
  text-decoration: none;
  color:white;
  font-size: 18px;
  font-weight: bold;
  padding: 20px
}
.image-logo{

    height: 7rem;
     margin-left: 10px;


}
.jumbotron{

  margin: 5px;
  color:white;
  padding: 20px;
  height: 250px;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
/*
  background: rgb(20,37,62);
  background: -moz-radial-gradient(circle, rgba(20,37,62,1) 0%, rgba(0,56,189,1) 44%, rgba(7,30,111,1) 70%);
  background: -webkit-radial-gradient(circle, rgba(20,37,62,1) 0%, rgba(0,56,189,1) 44%, rgba(7,30,111,1) 70%);
  background: radial-gradient(circle, rgba(20,37,62,1) 0%, rgba(0,56,189,1) 44%, rgba(7,30,111,1) 70%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#14253e",endColorstr="#071e6f",GradientType=1);

*/


  background-image: url("../image/Jumbotron.png");

  background-repeat: repeat;
 /* background-position: 100% 100% 100%;*/
  background-position: 20%;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0.5); /* aquí se establece el color y la opacidad */
  background-blend-mode: overlay; /* se utiliza para mezclar el fondo y el color */

}
.text-jumbotron {
    font-size: 50px;
    text-shadow: 0px 2px 8px rgba(119, 201, 248, 1);
    text-align: center;
}
.sub-text-jumbotron {
    text-align: center;
    font-size: 20px;
}
.icon-tlf {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 50px;
}
.telegram {
    font-size: 26px;
    color: #005aff;
    font-weight: bold;
    background: white;
    border-radius: 100%;
}

.whatsapp {
    color: green;
    font-weight:bold;
    background:white;
    border-radius: 100%;
    font-size: 26px;
}
.num-tlf {
    font-weight: bold;
    font-size: 20px;
    margin-left: 15px;
}
.infojumbotron {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.btn-descarga {
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    font-weight: bold;
    border: 3px solid #4090FF;
    color: #4090FF;
}
.btn-descarga:hover{
     border:3px solid #4090FF;
    color:#4090FF;
}

.containner-type-plan{

display: flex;
flex-direction:row;
justify-content: center;
background: #3168A1;
padding:1px;


}
.type-plan{

background:#3e5b7a;
width:50%;
   margin:5px;
   padding: 10px;

}

.title-plan {
    color: white;
    margin-bottom: 14px;
    margin-top: 12px;
}

.title-plan{
  color:white;
}

.image-type-plan{
  width:100%;
   object-fit: cover;

}


.containner-price{
  background: white;
    width: 100%;
    text-align: center;
   
}
.price-plan{
  
  font-size:70px;
  font-weight: bold;
  color: #99E200;


}
.bg{
  font-weight: bold;
}
.type-money{
  font-size:30px;

}
.containner-list-item{

 /* width:100%;*/
  background: white;
}

.containner-list-item{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.pos1 { grid-area: 1 / 1 / 2 / 2; }
.pos2 { grid-area: 1 / 2 / 2 / 3; }
.pos3 { grid-area: 2 / 1 / 3 / 3; }


.list-item-plan{
 display: block;
}
.item{
 padding: 5px;
  list-style: none;
  font-size: 18px;
}

.suport-tecnical{
  text-decoration: center;
  padding: 5px;
  text-align: center;
  margin-top: 5px;
}

.icon-checkmark{color: green;}
.icon-cross{color:red;}
/****************************/

.image-article{
  width:100%;
  height: 150px;
  margin: 8px;
 /* object-fit: cover;*/

}


.containner-text{

  display:flex;
  flex-direction: column; 
  align-items: center;
  width: 70%;
  /* background:red;*/
   padding: 8px;
}


.article{
  background: grey;
  padding:10px;
  display:flex;
  flex-direction: row;
  margin:5px;
  color:white;

}

.article:nth-child(odd) {
  background: white;
  color:black;
    display:flex;
  flex-direction: row-reverse;
}

h3{
  text-align: center;
  font-size: 30px;
}

.text-article{
  padding: 5px;
  width: 70%;
  text-align: center;

 /* background: blue;*/
 
}

.Aside{
  background:#15345C; 
  padding:15px;
 
}

.Aside>h2{
  color:white;
margin-bottom: 5px; 
}

.Aside>article{

margin-left:20px;
display:flex;
 color :white

}
.image-article-aside{

}

.ol{
padding:10px;

}
.ol>li{
margin-top:10px;
display:block;

}

.footer{
  padding:20px;
   background:var(--hederfooter);
   color:white;
   text-align: center;
}
